fastapi
uvicorn
jinja2
python-dotenv
python-multipart

psycopg[binary]
pgvector
sqlalchemy

langchain-core
langchain-experimental
langchain-huggingface
langchain-text-splitters

sentence-transformers

openai
pymupdf4llm